spring:
  application:
    name: keynote-service
  datasource:
    url: jdbc:mysql://mysql-keynote:3307/keynote_db?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

axon:
  axonserver:
    servers: axon-server:8124
    component-name: ${spring.application.name}
    context: default

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true

server:
  port: 8081
