spring:
  kafka:
    consumer:
      bootstrap-servers: localhost:9092
    streams:
      bootstrap-servers: localhost:9092

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
