spring:
  application:
    name: analytics-service
  kafka:
    consumer:
      bootstrap-servers: kafka:9092
      group-id: analytics-group
      auto-offset-reset: earliest
    streams:
      bootstrap-servers: kafka:9092
      application-id: analytics-app

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true

server:
  port: 8083
